# This requirements.txt is
# from setup.py install
setuptools>=38.5.1
configargparse>=1.2.1
typeguard>=2.7.0
dataclasses; python_version < '3.7'
humanfriendly
scipy>=1.4.1
matplotlib==3.1.0
pillow>=6.1.0
editdistance==0.5.2
gdown
espnet_model_zoo
ctc-segmentation>=1.1.0
# DNN related packages are installed by Makefile
# 'torch==1.0.1'
# chainer==6.0.0
# 'cupy==6.0.0',
tensorboard>=1.14  # For pytorch>=1.1.0
tensorboardX>=1.8  # For pytorch<1.1.0
# Signal processing related
librosa>=0.8.0
resampy
pysptk>=0.1.17
# Natural language processing related
# FIXME(kamo): Sentencepiece 0.1.90 breaks backwardcompatibility?
sentencepiece<0.1.90,>=0.1.82
nltk>=3.4.5
morfessor

# File IO related
PyYAML>=5.1.2
soundfile>=0.10.2
h5py>=2.10.0
kaldiio>=2.17.0

# TTS related
inflect>=1.0.0
unidecode>=1.0.22
pyworld>=0.2.10
nnmnkwii
espnet_tts_frontend

# ASR frontend related
museval>=0.2.1
pystoi>=0.2.2
nara_wpe>=0.0.5
torch_complex
pytorch_wpe
mir-eval>=0.6

# VC related
fastdtw
pyworld

# from other parts of setup.py
# It is recommended to install them manullay.
# pytorch
# torch_optimizer
# torchaudio

# jaconv
